<?xml version="1.0"?>
<phpunit
	bootstrap="tests/integration/bootstrap-integration.php"
	backupGlobals="false"
	colors="true"
	coverage="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="integration" >
			<directory prefix="test-integration" suffix=".php">./tests/integration/</directory>
		</testsuite>
	</testsuites>
</phpunit>
